<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          tools:ignore="UnusedAttribute"
          package="com.rubenwardy.minetestmodmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <activity
            android:name=".views.ModListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ModDetailActivity"
            android:label="@string/mod_title"
            android:parentActivityName=".views.ModListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubenwardy.minetestmodmanager.views.ModListActivity" />
        </activity>
        <activity
            android:name=".views.WorldConfigActivity"
            android:label="@string/world_config"
            android:parentActivityName=".views.ModListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubenwardy.minetestmodmanager.views.ModListActivity" />
        </activity>
        <activity
            android:name=".views.DisclaimerActivity"
            android:label="@string/disclaimer_title"
            android:parentActivityName=".views.ModListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubenwardy.minetestmodmanager.views.ModListActivity" />
        </activity>
        <activity
            android:name=".views.ReportActivity"
            android:label="@string/report_title"
            android:parentActivityName=".views.ModListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubenwardy.minetestmodmanager.views.ModListActivity" />
        </activity>
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".views.ModListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubenwardy.minetestmodmanager.views.ModListActivity" />
        </activity>
        <activity
            android:name=".views.ReadmeActivity"
            android:label="@string/readme_title"
            android:parentActivityName=".views.ModDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rubenwardy.minetestmodmanager.views.ModListActivity" />
        </activity>

        <service
            android:name=".manager.ModInstallService"
            android:exported="false" />

        <receiver
            android:name=".manager.BCastReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>